doctype html
html
  head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel="stylesheet", href="/js/bootstrap-table/src/bootstrap-table.css")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/fileinput.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet")

  body(onload='parallax()')
    block content
    script(src='/bootstrap/js/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/fileinput.min.js')
    script(src="/js/bootstrap-table/src/bootstrap-table.js")
    script(src="/js/bootstrap-table/src/extensions/mobile/bootstrap-table-mobile.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
    script(src='/js/script.js')