doctype html
html
  head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/fileinput.min.css')
    //link(rel='stylesheet', href='/css/one-page-wonder.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')

  body(onload='parallax()')
    block content
    // jQuery
    script(src='/bootstrap/js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/script.js')
    script(src='/js/fileinput.min.js')