body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/start/bg3.jpg') no-repeat center center scroll;
  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top: 50px;
  left:0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.jumbotron {
  text-align: center;
  height: 400px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  margin-top: 50px;
  padding: 88px 0;
}

.jumbotron h1 {
  font-size: 108px;
}


.outerLink {
  background-color: black;
  display: block;
  opacity: 1;
  /*margin-left: 15px;*/
}

img.darkableImage {
  opacity: 0.6;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.colorful0,  .colorful1, .colorful2{
  padding: 50px 0;
  color: #eee;
}

.colorful0 {
  background: #674172;
}
.colorful1 {
  background: #1E824C;
}
.colorful2 {
  background: #96281B;
}

.row {
  margin-right: 0;
}

.fracList p {
  line-height: 1.5;
}

.fracList a.btn {
  padding: 20px 0;
}

.form-group .col-sm-10 {
  margin-bottom: 15px;
}
.form-group .col-sm-2 {
  padding-top: 5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.form-group.required label:after {
  content:"*";
  color:red;
}

.title {
  display: inline;
  float: left;
  margin-right: 5px;
  margin-bottom: 30px;
}

.hint {
  display: block;
  padding-top: 10px;
  color: rgb(204, 204, 204);
}

.profession {
  display: block;
  width: 300px;
  margin-top: 10px;
  margin-bottom: -41px;
  clear: both;
}

.fixed-table-toolbar .columns {
  margin-bottom: 0;
}

footer {
  padding: 20px 0;
}

footer p {
  margin: 0;
}

@media (max-width: 979px) {

  .bg{
    top: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/start/bg.jpg') no-repeat center center scroll;
  }

  .jumbotron {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .jumbotron h1 {
    font-size: 72px;
  }
}

@media (max-width: 400px) {

  .jumbotron h1 {
    font-size: 52px;
  }

  .jumbotron h2 {
    font-size: 26px;
  }
}